<header>
    <div class="brand">
        NETFLIX
    </div>
    <div class="d-flex">
        <div class="input-group">
            <span class="bi bi-globe input-group-text"></span>
            <select name="demo" class="form-select me-2" id="demo">
                
            <option > language</option>
            <option >English</option>
            <option>Hindi</option>

abhcilzcbsdhjcjaksc
            </select>
        </div>
        <div>
            <button class="btn btn-danger btn-sm">Sign in</button>
        </div>
    </div>




</header>
